@import "tailwindcss";
@import "@nuxt/ui";
@import './tailwind/index.css';

@theme static {
  --font-sans: 'Geist', sans-serif;

  --default-header-height: 56px;
  --default-footer-height: 56px;

  --ui-primary: #6366f1;
  --ui-primary-hover: #4f46e5;
  --ui-primary-muted: rgba(99, 102, 241, 0.1);

  --ui-success: #a7f3d0;
  --ui-success-muted: rgba(167, 243, 208, 0.1);
  --ui-success-foreground: #064e3b;

  --ui-error: #f472b6;
  --ui-error-muted: rgba(244, 114, 182, 0.1);
  --ui-error-foreground: #ffffff;

  --ui-bg: #0f0f10;
  --ui-bg-elevated: #18181b;
  --ui-text: #e5e7eb;
  --ui-text-muted: #71717a;
  --ui-border: #27272a;
  --ui-border-muted: rgba(39, 39, 42, 0.5);

  --ui-radius: 1rem; /* 16px (rounded-2xl) */
  --ui-container-max-width: 1200px;
}

.dark {
  --ui-bg: #0f0f10;
  --ui-text: #f4f4f5;
}
