@import "tailwindcss";
@import "@nuxt/ui";
@import './tailwind/index.css';

:root {
  --color-indigo-400: #4f46e5;
}

@theme static {
  --font-sans: 'Geist', sans-serif;

  --default-header-height: 56px;
  --default-footer-height: 56px;

  --ui-success: #a7f3d0;
  --ui-success-muted: #1e2623;
  --ui-success-foreground: #064e3b;

  --ui-error: #f46ba3;
  --ui-error-muted: #261921;
  --ui-error-foreground: #ffffff;

  --ui-bg-elevated: #18181b;
  --ui-text: #e5e7eb;
  --ui-text-muted: #71717a;
  --ui-border: #27272a;
  --ui-border-muted: rgba(39, 39, 42, 0.5);

  --ui-radius: 1rem; /* 16px (rounded-2xl) */
  --ui-container-max-width: 1200px;
}

.dark {
  --ui-bg: #09090b;

  --ui-border-accented: #1b1b1d;
  --ui-text: #f4f4f5;

  --ui-text-inverted: #fff;
  --ui-text-dimmed: #9398a0;
}
