@import "tailwindcss";
@import "@nuxt/ui";
@import './tailwind/index.css';

:root {
  --color-indigo-400: #4f46e5;

  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;

  --max-z-index: 100000;
}

@theme {
  --font-sans: 'Geist', sans-serif;

  --default-header-height: 65px;
  --default-footer-height: 56px;
  --default-main-min-height: calc(100svh - var(--default-header-height) - var(--default-footer-height) - 1px);

  --admin-sidebar-width: 65px;

  --ui-radius: 1rem; /* 16px (rounded-2xl) */
  --ui-container-max-width: 1200px;
}

.dark {
  --ui-bg: #0f0f10;
  --ui-bg-muted: #17171a;
  --ui-bg-inverted: var(--color-zinc-900);

  --ui-white: #fff;

  --ui-border-accented: #1b1b1d;

  --ui-text-inverted: #fff;
  --ui-text-dimmed: #9398a0;

  --ui-success: #a7f3d0;
  --ui-success-muted: #1e2623;
  --ui-success-foreground: #064e3b;

  --ui-bg-elevated: #18181b;
  --ui-text: #e5e7eb;
  --ui-text-muted: #71717a;
  --ui-border: #27272a;
  --ui-border-muted: rgba(39, 39, 42, 0.5);

  --ui-error: #f46ba3;
  --ui-error-muted: #261921;
  --ui-error-foreground: #ffffff;
}
